body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f7;
}

header {
    text-align: center;
    margin: 20px 0;
}

header img {
    max-width: 100%;
    height: auto;
    max-width: 150px;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
}

/* Hover effect for navigation items */
nav ul li a:hover {
    background-color: #555; /* Change background color on hover */
    color: #fff; /* Maintain text color as white */
}

/* Table Section */
section#table {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

section#form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"] {
    max-width: 50%;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 16px;
    font-weight: bold;
}

label input {
    margin-right: 10px;
    margin-left: 5px;
}

section#report {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 50px;
}
