body {
  

  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  color: #333;

}
strong{
  size: 35px;
  color:rgb(21, 25, 147) ;
}
.bar
{
  color: #f0f4f8;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contant
{
 display:grid; 
 grid-template-columns: 1fr 1fr 1fr;
}
.logo{
   position:  absolute; 
  top:50px;
  right:50px;
  height:auto;
}
.barsection{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 36px;
  color: #2a3d66;
}
.image-container 
{
  position:absolute ;
  right : 50px;
  top: 70%;

}
nav {
  background-color: #2a3d66;
  padding: 10px 0;
   text-align: center; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
}

header {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 30px;
}

section {
  background-color: white;
  padding: 30px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 8px;
}

section h2 {
  font-size: 28px;
  color: #2a3d66;
  margin-bottom: 20px;
}
a {
  color: red; 
}

a:hover {
  color: blue; 
}

.profile
{
width: 100px;
height:100px;
boader:5px solid black;
border-radius: 70%;
object-fit: cover;
/* text-align: right; */
}
.profile-card {
width: 400px;
background: rgb(255, 255, 255);
border-radius: 10px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
text-align: center;
padding: 20px;
font-family: Arial, sans-serif;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); ;
}

section p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

section ul {
  margin: 20px 0;
  padding-left: 20px;
}

section ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

section a {
  color: #2a3d66;
  text-decoration: none;
}

footer {
  background-color: #2a3d66;
  color: white;
  text-align: center;
  padding: 15px 0;
  position:relative;
  width: 100%;
  bottom: 0;
}
